body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    float: left;
    list-style: none;
}

.menuItem{
    background-color: whitesmoke;
    text-align: center;
    padding-left: 10vw;
    padding-top: 1vw;
    cursor: pointer;
}


#signUp{
    float: right;
    margin-right: 10vw;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 1vw;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
#signUpForm{
    display: flex;
    flex-direction: column;
}
h4{
    margin-left: 10vw;
}
label{
    margin-left: 10vw;
}
input{
    width: 10vw;
    margin-left: 10vw;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#temp{
    width: 40vw;
    height: 30vw;
    border: solid black 3px;
    margin-left: 30vw;   
    margin-top: 3vw;
}

#mainDesc{
    margin-left: 10vw;
    margin-right: 10vw;
}
input[type=text]:focus {
    border: 3px solid #555;
}